<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <demo>
            <general>
                <enable>1</enable>
                <text>1</text>
            </general>
        </demo>
    </default>

</config>